
.hero__subtitle img{
    width: 2rem;
    height: 2rem;


}
.hero__content h1{
    font-size: 3.2rem;    
    font-weight:600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--heading-color);
}
.hero__content h1 .highlight{
    color: rgb(9, 172, 172);

}
.hero__content p{
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 2rem;
}
/* //important lines */
.hero__img-box img,
.hero__img-box video{
    width: 100%;
    height: 350px;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    object-fit: cover;

}
.hero__content{
    padding-top: 3.5rem;

}

.hero__img-box{
    padding-top: 2rem;
}
.services__subtitle{
    font-size: 2.2rem;
    font-weight: bold;
    color: #ee6e6e;
    font-family: var(--subtitle-font-name);

}
.services__title{
    font-size: 2.5rem;
    font-weight: bold;
}
.featured__tour-title{
    font-size: 2.3rem;
    font-weight: bold;

}
.experience__content h2{
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: bold;

}
.experience__content p{
    font-size: 1.1rem;
    color: var(--text-color);
    margin-top: 1rem;

}
.counter__wrapper{
    margin-top: 2.5rem;

}
.counter__box span{
    width:70px ;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: black;
    font-size: 1.6rem;
    font-weight: bolder;
    border-radius: 10px 5px 10px 5px;
    border: 5px solid rgb(149, 159, 249);
}
.counter__box h6{
    font-size: 1.1rem;
    margin-top: 0.7rem;
    color: var(--text-color);
}

.gallery__title{
    font-size: 2.3rem;
    margin-bottom: 2.5rem;
    margin-top: 1rem;

}
.masonry__img{
    transition: .3s;

}
.masonry__img:hover{
    transform: scale(1.1);
}
.testimonial__title{
    font-size: 2.3rem;
    margin-top: 1rem;

}
@media only screen and (max-width:992px){
    .hero__content h1{
        font-size: 2.7rem;

    }
    .hero__img-box{
        display: none;
    }
    .hero__video-box{
        display: block;

    }
    .services__title, .featured__tour-title,.gallery__title,.testimonial__title
    ,.experience__content h2{
        font-size: 2rem;

    }
    .experience__img{
        margin-top: 2rem;
        
    }
}

@media only screen and (max-width:576px){
    .hero__content h1{
        font-size: 1.8rem;

    }
    .services__title,.featured__tour-title,.gallery__title,.testimonial__title,.experience__content h2{
        font-size: 1.5rem;
        
    }

}
/*details if we hover*/
.container1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 10px;
    margin-right: 11px;
    margin-bottom: 10px;
}
.cards .img{
    transition: all 0.3s;
}
.content{
    position: absolute;
    bottom: -130px;
    left: 40px;
    color: #e8e1e1;
    transition: all 0.7s;
}
.cards:hover .content{
    bottom: 10px;
}
.cards:hover img{
    filter: brightness(0.5); 
    object-fit: cover;  
}
.cards:hover{
    transform: scale(1.12);
    border-radius: 10px;
}
.cards:hover .cards:not(:hover){
    filter: blur(10px);
}  
.section__subtitle{
    background-color: rgb(149, 159, 249);
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}
